h5 {
    font-size: 25px;
}

.quadrado {
  line-height: 0;
  width: 20px;
  height: 20px;
}

#notelist-container {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 6em);
}

#notelist {
  flex-grow: 2;
  min-width: 50vw;
  height: 100%;
  overflow-y: scroll;
}

.notes-not-found {
  display: flex;
  justify-content: center;
  align-items: center;
}

.notes-not-found h2 {
  text-align: center;
}