.gridIcons svg {
    margin-right: 0.5em;
    margin-top: 0.5em;
}

span {
    color: #9EC5E2;
    font-family: 'Bebas Neue', cursive;
    font-size: 80px;
}

.gridIcons svg {
    transition: text-shadow 0.5s;
}

.gridIcons svg:active,
.gridIcons svg:hover {
    text-decoration: none;
    text-shadow: 0px 0px 10px whitesmoke;
}

footer {
    background-color: #7e57c2;
    height: 3em;
    color: white;
    text-align: center;
    margin-top: 0.8em;
    width: 100%;
}

h2 {
    text-align: justify;
}

footer p {
    text-align: center;
}

.quadradoRed {
    line-height: 0;
    width: 30px;
    height: 30px;
    border-style: solid;
    border-color: #ef9a9a;
    background-color: #ef9a9a;
}

.quadradoPink {
    line-height: 0;
    width: 30px;
    height: 30px;
    border-style: solid;
    border-color: #f48fb1;
    background-color: #f48fb1;
}

.quadradoPurple {
    line-height: 0;
    width: 30px;
    height: 30px;
    border-style: solid;
    border-color: #ce93d8;
    background-color: #ce93d8;
}

.quadradoDeepPurple {
    line-height: 0;
    width: 30px;
    height: 30px;
    border-style: solid;
    border-color: #b39ddb;
    background-color: #b39ddb;
}

.quadradoIndigo {
    line-height: 0;
    width: 30px;
    height: 30px;
    border-style: solid;
    border-color: #9fa8da;
    background-color: #9fa8da;
}

.quadradoBlue {
    line-height: 0;
    width: 30px;
    height: 30px;
    border-style: solid;
    border-color: #90caf9;
    background-color: #90caf9;
}

.quadradoCyan {
    line-height: 0;
    width: 30px;
    height: 30px;
    border-style: solid;
    border-color: #80deea;
    background-color: #80deea;
}

.quadradoTeal {
    line-height: 0;
    width: 30px;
    height: 30px;
    border-style: solid;
    border-color: #80cbc4;
    background-color: #80cbc4;
}